
# The entries below (or any output) should always be ignored
# to prevent patient properties (even if anonymous) from being leaked
# into the repository
*.ipynb
*.csv
*.out
*.pth


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

